html {
  text-rendering: auto;

  @include breakpoint(sm) {
    text-rendering: geometricPrecision;
  }
}

body {
  @include font--regular;
}

h1, h2, h3, h4, h5, h6 {
  @include font--regular;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.title {
  @include font--title;
}

.subtitle {
  font-family: $font-stack__accent;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  text-transform: uppercase;

  &:first-of-type {
    margin-top: 0;
  }

  & + br {
    display: none;
  }
}

.small {
  @include font--small;
}
