html {
  text-rendering: auto;

  @include breakpoint(sm) {
    text-rendering: geometricPrecision;
  }
}

body {
  @include font--regular;
}

h1, h2, h3, h4, h5, h6 {
  @include font--regular;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.title {
  @include font--title;
}

.subtitle {
  margin-left: 2em;
}

.small {
  @include font--small;
}
