// Font-face declarations

@font-face {
  font-family: 'optibauer';
  src: url('fonts/optibauertext-initials-webfont.woff2') format('woff2'),
       url('fonts/optibauertext-initials-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
