// Font-face declarations

@font-face {
  font-family: 'optibauer';
  src: url('fonts/optibauertext-initials-webfont.woff2') format('woff2'),
       url('fonts/optibauertext-initials-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akzidenz-grotesk-be-regular';
  src: url('fonts/Berthold_Akzidenz_Grotesk_BE_Regular.eot');
  src: url('fonts/Berthold_Akzidenz_Grotesk_BE_Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Berthold_Akzidenz_Grotesk_BE_Regular.woff') format('woff'),
       url('fonts/Berthold_Akzidenz_Grotesk_BE_Regular.ttf') format('truetype'),
       url('fonts/Berthold_Akzidenz_Grotesk_BE_Regular.svg#akzidenz') format('svg');
  font-weight: normal;
  font-style: normal;
}
