//
// Glossary items
//

.glossary-item {
  position: relative;
  margin: 180px 0;
  padding-right: 0.55em;
}

.glossary-item__shadow {
  @include shadow(0.2);
  display: block;
  transition: box-shadow 0.8s;
}

a.glossary-item__shadow {
  &:hover {
    @include shadow(0.2);
  }
}

.glossary-item__index,
.glossary-item__title {
  position: absolute;
}

.glossary-item__index {
  top: -0.55em;
  left: 50px;
}

.glossary-item__title {
  bottom: -0.55em;
  right: -0.55em;
  width: 85%;
}
