//
// Header
//

$header-height: 40px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: opacity 0.6s;
  background: $black;
  height: $header-height;
}

.home {
  .header {
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}

.site-title,
.header-link--glossary,
.header-link--information {
  position: absolute;
  display: inline-block;
  line-height: 1;
}

.site-title {
  top: 6px;
  left: 50%;
  transform: translate(-50%, 0);
}

.header-link--site-title {
  text-transform: uppercase;
  font-weight: bold;
}

.header-link--glossary {
  top: $gutter - 1px;
  left: $gutter;

  svg {
    width: 15px;
    height: 15px;
  }
}

.header-link--information {
  top: $gutter - 2px;
  right: $gutter;
}
