// Single

.section--story {
  margin-bottom: 200vh;
}

.responsive-title {
  position: relative;
  width: 80vmin;
  margin: 0 auto;
}

.responsive-title-part {
  display: block;
  width: 50%;
}

.responsive-title-part--2 {
  margin-left: auto;
}

.post-index {
  position: fixed;
  bottom: 5px;
  left: 5px;
  transform: rotate(-90deg);
  width: 0;
  height: 0;
}

.story-item__image {
  .story-item__content {
    margin: 0 auto 200px;
  }
}

.story-item__text {
  @include font--story-text;
  mix-blend-mode: difference;
  position: relative;

  p {
    margin: 0;
  }

  &.consecutive-text {
    margin-top: 50vmax;
  }

  @include breakpoint(sm) {
    .story-item__content {
      max-width: 75%;
    }
  }
}
