// Single

.responsive-title {
  position: relative;
  width: 80vmin;
  margin: 0 auto;
}

.responsive-title-part {
  display: block;
  width: 50%;
}

.responsive-title-part--2 {
  margin-left: auto;
}
