// Single

.responsive-title,
.responsive-title-subordinate {
  opacity: 0;
  transition: opacity 0.4s;

  &.active {
    opacity: 1;
  }
}

.section__inner--fixed,
.post-index {
  &.faded {
    opacity: 1 !important;
    transition: opacity 0.4s;
    transition-delay: 0.4s;
  }
}

.section__inner--fixed.fader.faded {
  top: 140px;

  .responsive-title {
    width: 175px;
    margin-left: 30px;
  }
}

.responsive-title {
  position: relative;
  width: 80vmin;
  margin: 0 auto;
}

.responsive-title-part {
  display: block;
  width: 50%;
}

.responsive-title-part--2 {
  margin-left: auto;
}

.post-index {
  position: fixed;
  bottom: 20px;
  left: 20px;
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  z-index: 2;

  &.faded {
    left: 20px;
    bottom: 20px;
  }
}

.section--story {
  overflow: hidden;
}

.story-item__image {
  text-align: center;

  .story-item__content {
    margin: 0 auto 200px;
    display: inline-block;
  }
}

.story-item__caption {
  @include font--caption;
  margin-left: 0.5em;
  text-align: left;
}

.story-item__image--half-width {
  @include breakpoint(sm) {
    &.story-item__image--even {
      transform: translate(0, 25%);
    }

    &.story-item__image--odd {
      transform: translate(0, -25%);
    }
  }
}

.story-item__text {
  @include font--story-text;
  position: relative;
  z-index: 1;

  p {
    margin: 0;
  }

  &.consecutive-text {
    margin-top: 50vmax;
  }

  &.last-row {
    margin-bottom: 80vmax;
  }

  @include breakpoint(sm) {
    .story-item__content {
      max-width: 75%;
      transform: translate(0, -50%);
    }
  }
}

.previous-post-link-wrapper {
  padding: 0 $gutter;
  margin: 0 auto;

  @include breakpoint(sm) {
    width: 50%;
    max-width: 550px;
  }
}

.previous-post-link {
  @include font--title;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  border: 1px solid;
  border-radius: 50%;
  transition: box-shadow 0.8s;

  &:hover {
    @include shadow(0.2);
  }
}

.previous-post-link__inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  display: inline-block;
  padding: 0 50px;
}
